section:nth-of-type(2) { margin-left: 16px }

section:last-of-type { padding-top: 8px }

section:nth-of-type(2) article { width: calc(100% - 4px) }

section:nth-of-type(2) article span {
    float: left;
    font-size: 44px;
    margin: 8px;
}

section:nth-of-type(2) article .article_content + .article_content a {
    border-bottom: 2px solid white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 46px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    transition: 200ms border ease-in-out;
    width: 80px;
}

section:nth-of-type(2) article .article_content + .article_content a:hover { border-bottom: 2px solid rgba(0,0,0,.12) }

section:nth-of-type(2) article .article_content + .article_content a:focus { border-bottom: 2px solid #0288D1 }

section:nth-of-type(2) article .article_content + .article_content a:active { border-bottom: 2px solid #0288D1 }